.list-images {
    display: flex;
    flex-wrap: wrap;
}

div.list-images img {
  padding: 1rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}

div.list-images img:hover {
  opacity: 1;
  cursor: pointer;
}

span {
  cursor: pointer;

}

.actions {
  display: flex;
      justify-content: center;
}
