:host {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.selector {
    display: flex;
    height: 310px;
}

.favorites img {

  padding-top: 5rem;
  margin-top: 5rem;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  padding: 2rem 1rem;
}
